<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
      />
      <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
      <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='layout.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='methodology.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='carbon_app.css') }}">
      <meta name="viewport" content="user-scalable=yes, width=device-width, initial-scale=1">

        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>home</title>
        {% endif %}
    </head>
    <body>
        <section class="section_carbon_app_navbar">
          <div class="container">
            <div class="carbon_app_navbar">
              <h1 class="logo">
                <a href="{{ url_for('home.home_home') }}" aria-label="Home">Carbon App</a>
              </h1>
              <nav>
                <ul>
                    <li><a href="{{ url_for('home.create_chat') }}">Create-Chat</a></li>
                    <li><a href="{{ url_for('home.view_chats') }}">View-Chats</a></li>
                    <li><a href="{{ url_for('home.statistics') }}">Statistics</a></li>
                    <li><a href="{{ url_for('home.students_apps') }}">Students-apps</a></li>
                    <li><a href="{{ url_for('carbon_app.carbon_app_home') }}">Carbon-app</a></li>
                    <li><a href="{{ url_for('home.haugesund') }}">Haugesund</a></li>
                    <li><a href="{{ url_for('home.logout') }}">Logout</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </section>

        {% block content %} {% endblock %}

        <section class="section_footer">
          <div class="container">
            <div class="footer">
              <h1>
                Carbon App
                <a href="#"><i class="fa-solid fa-circle-up" style="color: #568c63"></i></a>
              </h1>
            </div>
          </div>
        </section>

        <script
          src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
          crossorigin="anonymous"
        ></script>
    </body>
</html>
