{% extends "layout.html" %}
{% block content %}
<section class="section_header_carbon_app">
    <div class="container">
        <div class="header_carbon_app">
            <div class="box">
                <h1 style="font-size:55px;"><span class="text-logo">Carbon App Calculator</span></h1>
                <p style="text-align:left;">Use the Carbon App to add transport entries and review your footprint history.</p>
                <div class="container_buttons_links_header_carbon_app">
                    <div class="btn">
                        <a href="{{ url_for('methodology.methodology_home') }}" class="btn btn-primary btn-lg mr-2" style="background-color:#007bff;">Methodology</a>
                    </div>
                    <div class="btn">
                        <a href="{{ url_for('carbon_app.new_entry') }}" class="btn btn-primary btn-lg mr-2" style="background-color:#007bff;">New Entry</a>
                    </div>
                    <div class="btn">
                        <a href="{{ url_for('carbon_app.your_data') }}" class="btn btn-primary btn-lg mr-2" style="background-color:#007bff;">Your Data</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
